[submodule "services/service2_dir"]
	path = services/service2_dir
	url = https://github.com/MarkT5/test_service2.git
[submodule "services/service1_dir"]
	path = services/service1_dir
	url = https://github.com/MarkT5/test_service1.git
